process {
    cache = 'lenient'
    stageInMode = 'symlink'
}

conda {
    enabled = true
}

singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
}

params {
    protiens = "/scratch/y95/pmisiun/phi-base_current.fasta"
    cpp_file = "/scratch/y95/pmisiun/20240313_CPPsite2_peptide_seqeunces_cleaned.fasta"
    pred_ranked = "results/phi-base_current/phi-base_current-ranked.tsv"
    pred_gff = "results/phi-base_current/phi-base_current.gff3"
    outDir = "$MYSCRATCH/CPP_plots"
}

process {
    executor = 'slurm'
    clusterOptions = "--account=y95"
    queue = 'work'
    cpus = 1
    time = '1h'

    withName: GET_CYS_CONFIGS {
        time = '1h'
    }

    withName: CLUSTER_CONFIGS {
        time = '1h'
    }

    withName: CALC_HYDROPHOBICITY {
        memory = '16GB'
    }
}

executor {
      $slurm {
        queueSize = 1000
    }
}